<div class="jumbotron">
    <h1>Neural network application</h1>
    <p class="lead">A neural network application using error backpropagation learning algorithm for training the network for classification purpose.</p>
    <p><a href="https://en.wikipedia.org/wiki/Backpropagation" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
